.products {
  padding: 175px 0 100px;
  background-color: #f7f8fa;
}

.products > .container {
  overflow: hidden;
  > h3 {
    margin-bottom: 4rem;
  }
}

.products .col1,
.products .col2 {
  width: calc(50% - 1px);
  text-align: left;

  > p {
    line-height: 1.5rem;
    margin-top: 1rem;
    max-height: 18rem;
    overflow: auto;
  }
}

.products .col1 {
  padding-right: 4rem;
  float: left;
  border-right: 1px solid #e6e9ea;
  @include responsive(500px) {
    padding-right: 2rem;
  }
}

.products .col2 {
  float: right;
  padding-left: 4rem;
  @include responsive(500px) {
    padding-left: 2rem;
  }
}
