%tbpadding {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include responsive(768px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @include responsive(500px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
